<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 6.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- JDBC connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/learnORM</property>
        <property name="hibernate.connection.username">newuser</property>
        <property name="hibernate.connection.password">password</property>

        <!-- Hibernate core settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Caching configuration -->
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.JCacheRegionFactory</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>
        <property name="hibernate.javax.cache.uri">ehcache.xml</property>

        <!-- Mapping annotated entity classes -->
        <mapping class="util.Student" />
        <mapping class="mapping.Entity.Student2"/>
        <mapping class="mapping.Entity.Address"/>
        <mapping class="mapping.Entity.Course"/>
        <mapping class="mapping.Entity.Faculty"/>
        <mapping class="PracticeProject.BlogApp.Entity.Post"/>
        <mapping class="PracticeProject.BlogApp.Entity.Author"/>
        <mapping class="PracticeProject.BlogApp.Entity.Tag"/>
        <mapping class="Caching.EmployeeEntity"/>

    </session-factory>
</hibernate-configuration>
